@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --identity-color: #05668d;
    --font-weight: 600;
    --font-size: 2rem;
}

body {
    padding: 0;
    margin: 0;
    font-family: roboto, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    width: 100vw;
}

.left-side {
    grid-column: 1;
    position: relative;
    padding: 0;
    margin: 0;
}

.card-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    margin-top: 25%;

}

.card-container > .card-logo {
    width: 15%;
}

.card-container > h1 {
    font-size: 5vw;
}

.right-side {
    grid-column: 2;
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}

.intro-text {
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    padding: 16vh 5vw 2vh 5vw;
}

.form-card {
    background-color: white;
    padding: 2vh 5vw;
    box-shadow: 5px 2px 20px 0px rgba(0,0,0,0.25);
}

.form-card > p {
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    margin-top: 0;
}

fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.field-holder {
    display: flex;
    flex-direction: column;
    padding: 1vh 0;
    width: 20vw;
}

input {
    border: 2px solid #e5e7eb;
    border-radius: 4px;
    height: 2.5vh;
    width: 75%;
}

input:focus {
    outline-width: thin;
    outline-color: blue;
    box-shadow: 2px 1px 10px 0px rgba(0,0,0,0.25);
}

button {
    background-color: var(--identity-color);
    font-size: 1.5rem;
    font-weight: var(--font-weight);
    color: white;
    margin: 3vh 5vw;
    padding: 1.5vh 3vw;
    border: none;
    border-radius: 8px;
}

.form-container > p {
    padding-left: 5vw;
    font-size: 1.5rem;
} 

a {
    color: var(--identity-color);
    text-decoration: none;
}